<div class="container">
    <div>
        <h1>
            Museo Panteón de Belén 
        </h1>
    </div>

    <div>
        <p>
            Originalmente llamado el Panteón de Santa Paula abre sus puertas alrededor de los años 1846 a 1896, se encuentra ubicado sobre la calle Belén en el centro de la ciudad de Guadalajara y a un lado podemos apreciar el antiguo hospital civil de Guadalajara. 
            El proyecto estuvo a cargo del arquitecto Manuel Gómez y este cementerio fue la primer Rotonda de los Jaliscienses Ilustres.
        </p>

        <p>
            En 1896 se toma la decisión de cerrar el cementerio por cuestiones de salubridad, actualmente es un museo que cuenta con un sinfín de relatos e importancia histórica debido a su cultura y arquitectura. 
            Se trata de uno de los principales turísticos que ofrece la ciudad de Guadalajara para el público en general.  
        </p>

        <h4> Personajes destacados en la política, educación, ciencia, música y literatura del Panteón de Belén: </h4>
        <p>
            • Manuel Gómez, Arquitecto <br>
            • Joaquín Angulo, Gobernador del Estado <br>
            • Fortunato Arce, Medico <br>
            • Dionisio Rodríguez, Abogado y benefactor <br>
            • Jesús Camarena, Gobernador del Estado <br>
            • Ramón Corona, Gobernador del Estado <br>
            • José Justo Corro, Gobernador del Estado <br>
            • Ignacio Herrera y Cairo, Medico <br>
            • Juan N. Cumplido, Miembro de la sociedad patriótica de Guadalajara <br>
            • José Rolón Alcaraz, Compositor 
        </p>

        <h4> Personajes que fueron trasladados a la actual Rotonda de los Jaliscienses Ilustres: </h4>
        <p>
            • Manuel López Cotilla, Educador <br>
            • Ramón Corona, Gobernador del Estado <br>
            • Jacobo Gálvez, Constructor del Teatro Degollado <br>
            • Enrique Díaz de León, Primer Rector de la Universidad de Guadalajara <br>
            • Severo Díaz, Historiador
        </p>
    </div>

    <br>
    <div>
        <h2>
            ¡Visita el Museo Panteón de Belén!
        </h2>
    </div>
</div>
