<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="subtitle">Museo Panteón de Belen</div>
        </div>
    </div>
</header>

<div class="line-box">
    <div class="subtitle-line">Revive el corazón de la ciudad</div>
</div>

<div class="general">
    <div class="container">
        <mat-card>
            <mat-card-title>Museo Panteón de Belén</mat-card-title>
            <mat-card-subtitle>Ven a Guadalajara</mat-card-subtitle> 
            <mat-card-content class="">
                <p>
                    Belén 684 <br>
                    Centro <br>
                    CP 44100 <br>
                    Guadalajara, Guadalajara, Jalisco <br>
                    Tels.: (33) 1594 3652, 1596 8346 <br>
                    E-mail: panteonbelen@gmail.com
                </p> 
            </mat-card-content>
        </mat-card>
        <br>
        <mat-card>
                <mat-card-subtitle>Horarios y costos</mat-card-subtitle> 
                <mat-card-content class="">
                    <p>
                        Recorridos diurnos<br>
                        Horario: de martes a sábado: 10:00, 11:00, 13:00 y 14:00 hrs<br>
                        Precios:<br>
                            • Publico en general: 29.00<br>
                            • Estudiantes y maestros con credencial vigente, menores de 12 años, personas de la tercera edad y personas con discapacidad: 14.00<br>
                            • Público en general que desee ingresar con cámara fotográfica: 75.00<br>
                            • Publico en general que desee sesión de fotos para eventos sociales: 275.00<br><br>
                    
                        Recorridos nocturno<br>
                        Horario: jueves a sábado: 20:30, 22:00 y 23:30 hrs<br>
                            • Publico en general: 78.00<br>
                            • Niños menores de 12 años, personas de la tercera edad y personas con alguna discapacidad: 39.00
                    </p> 
                </mat-card-content>
            </mat-card>
    </div>

    <div class="imageDiv">
        <img src="../../assets/images/panteon.jpg" alt="image">
    </div>
</div>
